body {
    background-image: url("https://th.bing.com/th/id/R.7e765ca6df27e4d6404fe7c1ae3c284c?rik=3D9YxjWR9AXLJA&pid=ImgRaw&r=0");
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.container {
    background: white;
    max-width: 80vh;
    border: solid black;
    
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkgreen;
}

#save-btn {
    background: goldenrod;
}

